.inputbutton{
    visibility: hidden;
}
.itemimg{
    width: 500px;
    height: auto;
}
.up-image{
   display: flex;
   flex-wrap: wrap;
   background: none;
   padding: 10px;
}
.image-props{
    background-color:none;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px gray;
    border-radius: 6pt;
}
.i-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    border: solid gray 3pt;
   
}
.i-input{
    width:500px;
    padding-right: 40px;
}
form{
    border: none;
    box-shadow: none;
    width: 100%;
   
}
.input-info{
    display: flex;
    flex-wrap: wrap;
}

.submit-button{
    width: 25%;
}


.btn{
    /*background-color: #66ff33;*/
}