.card-list{
    display: flex;
}
.store-list{
 display: flex;
 flex-wrap: wrap;
 max-width: 1000px;
}

.item-form{
    width: 300px;
    border: gray solid 2px;
    border-radius: 6px;
    max-height: 650px;
    right: 20px;
    scroll-behavior: smooth;
    margin: 10px;
}
