.container{
    
    align-content: center;
    justify-content: center;
}
.card-list{
    display: flex;
}
.store-list{
 display: flex;
 flex-wrap: wrap;

}

.item-form{
    width: 300px;
    border: gray solid 2px;
    border-radius: 6px;
    max-height: 650px;
    right: 20px;
    scroll-behavior: smooth;
    margin: 10px;
}
.add-item{
padding: 10px;
}
.add-item-btn{
    width: 100%;
    background: #0d47a1;
    border-radius: 4pt;

}
.search-filter-sort{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.results{
    margin:20px;
}