.searchbar{
    max-width: 500px;
    margin: 10px;
    display: inline-flex;
}
.search-btn{
  height: 47px;
  border-top-right-radius: 4pt;
  border-bottom-right-radius: 4pt;
}
.search-input{
    height: 50px;
}